<% provide(:title, 'New Course') %>
<div class="row">
  <h1>New Course</h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @course, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.submit "Create Course", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>